astroid==2.2.5
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
idna==2.8
isort==4.3.17
lazy-object-proxy==1.3.1
lxml==4.3.3
mccabe==0.6.1
msgpack==0.6.1
numpy==1.16.2
pandas==0.24.2
pylint==2.3.1
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
requests==2.21.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.1
tushare==1.2.29
typed-ast==1.3.4
urllib3==1.24.2
windows-curses==1.1
wrapt==1.11.1
